body, html{
    height: 100%;
    background-color: rgb(29, 28, 28);
}
/* Header section */
.mainScreen-Header{
    width: 100%;
    height: 9%;
    background: linear-gradient(to left, white , black);
}
.mainScreen-Header img{
    float: left;
    margin-left: 20%;
    max-height: 95%;
    max-width: auto;
}
.mainScreen-Header-Nav{
    width: 30%;
    height: 100%;
    float: right;
}
.mainScreen-Header-Nav a{
    font-size: 2em;
    margin: 5% 10%; 
    float: right;
}
/* form positioning */
form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    color: white;
    
}
label {
    grid-column: 1 / 2;
}
 
input,
button {
    grid-column: 2 / 3;
}