<!DOCTYPE html>
<html>
 
<head>
    <title>OverCoached</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
 
<body>
    <header class="mainScreen-Header">
        <img class="title" src="/OverCoach/Title.png">
        <nav class="mainScreen-Header-Nav">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <toolbar class="mainScreen-toolbar clearfix">
        <div class="toolbar-item">
            <button class="toolbar-btn dropDownMapsBtn">Maps</button>
            <div id="mapDropDown" class="map-dropdown-content">      
            {{!-- maps go here --}}
            </div>
        </div>
        <div class="toolbar-item">
            <button class="toolbar-btn dropDownColorsBtn">Pen Colors</button>
            <div id="colorDropDown" class="color-dropdown-content">
                <li class="color-dropdown" id="color-dropdown-red" data-color="red"></li>
                <li class="color-dropdown" id="color-dropdown-blue" data-color="blue"></li>
                <li class="color-dropdown" id="color-dropdown-black" data-color="black"></li>
                <li class="color-dropdown" id="color-dropdown-white" data-color="white"></li>
            </div>
        </div>
        <div class="toolbar-zoom">
            <button class="toolbar-btn" id="zoom-small">Zoom Small</button>
        </div>
        <div class="toolbar-zoom">
            <button class="toolbar-btn" id="zoom-medium">Zoom Medium</button>
        </div>
        <div class="toolbar-zoom">
            <button class="toolbar-btn" id="zoom-large">Zoom Large</button>
        </div>
        <div class="toolbar-item">
            <button class="toolbar-btn lines" id="lines-btn">Clear Lines</button>
        </div>
        <div class="toolbar-item">
            <button class="toolbar-btn heroes" id="heroes-btn">Clear Heroes</button>
        </div>
        <div class="toolbar-item">
            <button class="toolbar-btn saveBtn" id="save-btn">Save</button>
        </div>
    </toolbar>
    <sidebar class="mainScreen-sidebar">
        <div class="sidebar-characters" id="redCharacters"></div>
        <img class="patreon" src="/OverCoach/Patreon.png">
        <div class="sidebar-characters" id="blueCharacters"></div>
    </sidebar>
    <div class="map-div" id="mapzone">

    </div>
    <canvas class="canvas-div" id="drawzone">

    </canvas>
    <script src="/js/dashbaord.js"></script>
    <script src="/js/draw.js"></script>
</body>
 
</html>