<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/landingpage.css">
</head>
<body>
    <header class="mainScreen-Header">
        <img class="title" src="/OverCoach/Title.png">
    </header>

    <div>
    <form method="get" action="/signup">
        <button type="submit">Sign Up!</button>
    </form>
    <form method="get" action="/signin">
        <button type="submit">Sign In</button>
    </form>  
</body>
    </div>
</html>